.mainCont{
    width: 100%;
    /* background-color: red; */
    display: flex;
    height: 40vh;
    align-items: center;
    justify-content: center;
}
.cont{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 30vh;
    /* background-color: red; */
    margin: 2px auto 20px auto;
    text-align: center;
    justify-content: space-between;
}
