.App {
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  width: 60%;
  /* height: 100%; */
  margin: 5% auto;
  border-radius: 0px 0px 50px 50px;
}
.stepper {
  width: 100%;
}
footer {
  color: white;
  font-size: 18px;
  top: 0px;
  margin: 0;
  width: 100%;
  margin: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  position: absolute;
  padding: 0;
  background: linear-gradient(to left, #ad5389, #3c1053);
}
footer a {
  text-decoration: none;
  color: #ffbcb0;
  align-items: center;
  text-align: center;
  /* border-bottom: black 3px solid; */
}
@media screen and (max-width: 768px) {
.App{
  width: 95%;
}
.stepper{
  width: 100%;
}
}